<div id="sidebar1" class="sidebar fourcol last clearfix" role="complementary">

  <div id="text-4" class="widget widget_text">

  <h4 class="widgettitle"><i style="padding-right: 10px; vertical-align: inherit;" class="font-awesome icon-book"></i>Forthcoming</h4>

    <div class="textwidget">
      <p><em>Sharing in the Divine Nature</em>, Wipf and Stock, USA, sometime in 2020. <a href="/books-all/#forthcoming">Read more</a></p>
    </div>





  <h4 class="widgettitle"><i style="padding-right: 10px; vertical-align: inherit;" class="font-awesome icon-book"></i>Out now</h4>

    <div class="textwidget">

      <p><a href="https://www.amazon.co.uk/dp/153269671X?tag=tibs-21&linkCode=ogi&th=1&psc=1" target="new" title="Buy book on Amazon UK"><img src="/assets/books/confessions.jpg" alt="Confessions of a Recovering Fundamentalist book cover"></a><br>
      <a href="https://www.amazon.co.uk/dp/153269671X?tag=tibs-21&linkCode=ogi&th=1&psc=1" target="new" title="Buy book on Amazon UK">Confessions of a Recovering Fundamentalist</a>, published by Wipf and Stock, USA</p>
    </div>







</div> <!-- end #sidebar1 -->