<div id="sidebar1" class="sidebar fourcol last clearfix" role="complementary">

  <div id="text-4" class="widget widget_text">

  <!--<h4 class="widgettitle"><i style="padding-right: 10px; vertical-align: inherit;" class="font-awesome icon-book"></i>Forthcoming</h4>

    <div class="textwidget">
      
      <p><em>Parables of Time and Eternity</em>, Cascade, 2021</p>
      <p><img src="/assets/books/parables-of-time.jpg" alt="Parables of Time and Eternity book cover"></p>

      <p><em>My Theology: Personal Idealism</em>, Darton, Longman and Todd, 2021<br>
        <a href="/books-all/#forthcoming">Read more</a></p>
    </div>
  -->




  <h4 class="widgettitle"><i style="padding-right: 10px; vertical-align: inherit;" class="font-awesome icon-book"></i>Recent books</h4>

    <div class="textwidget">
      <p><em>Adventures in Belief: How I Discovered the Meaning of Life, the Universe, and Everything (Possibly)</em></p>
      <br><a href="https://wipfandstock.com/9781666756234/adventures-in-belief/">Cascade</a>, 2022</p>
      <p><a href="https://wipfandstock.com/9781666756234/adventures-in-belief/" target="new" title="Publisher book details"><img src="/assets/books/adventures-in-belief.jpg" alt="Adventures in Belief book cover"></a></p>
      <hr>
      <p><em>My Theology: Personal Idealism</em><br><a href="https://www.dartonlongmantodd.co.uk/titles/2340-9781913657581-my-theology" target="new" title="Publisher book details">Darton, Longman and Todd</a>, 2021</p>
      <p><a href="https://www.dartonlongmantodd.co.uk/titles/2340-9781913657581-my-theology" target="new" title="Publisher book details"><img src="/assets/books/mytheology.jpg" alt="My Theology book cover"></a></p>
    

    </div>



</div> <!-- end #sidebar1 -->