<div id="sidebar1" class="sidebar fourcol last clearfix" role="complementary">

  <div id="text-4" class="widget widget_text">

  <h4 class="widgettitle"><i style="padding-right: 10px; vertical-align: inherit;" class="font-awesome icon-book"></i>Forthcoming</h4>

    <div class="textwidget">
      <p><em>Parables of Time and Eternity</em>, Cascade, 2021</p>

      <p><em>My Theology: Personal Idealism</em>, Darton, Longman and Todd, 2021<br>
        <a href="/books-all/#forthcoming">Read more</a></p>
    </div>





  <!-- <h4 class="widgettitle"><i style="padding-right: 10px; vertical-align: inherit;" class="font-awesome icon-book"></i>Out now</h4>

    <div class="textwidget">

     

    </div>
-->


</div> <!-- end #sidebar1 -->