---
layout: page
title: Audio and video
---

<div id="inner-content" class="wrap clearfix">

		<div id="main" class="first clearfix" role="main">


			<article id="post-14" class="clearfix post-14 page type-page status-publish hentry" role="article" itemscope itemtype="http://schema.org/BlogPosting">

				<header class="article-header">

					<h1 class="page-title" itemprop="headline">Audio / Video</h1>

				</header> <!-- end article header -->

				<section class="entry-content clearfix" itemprop="articleBody">

					<h3>'Love is His Meaning'</h3>
					<p>A talk given on Sunday 3 September 2017 at <a href="https://www.stpauls.co.uk/sunday-forum-videos" target="new">St Paul's Cathedral</a>, London</p>

					{% include youtubeplayer.html id='kcTFlgOx9aI' %}

					<h3>Gresham College</h3>
					<p><a href="https://www.gresham.ac.uk/watch/?subject=&subcat=&files=&year=&search=keith+ward" target="new">Gresham College</a>, where Professor Ward was Gresham Professor of Divinity from 2004 – 2008, holds a series of audio, video and transcripts of lectures. <a href="https://www.gresham.ac.uk/watch/?subject=&subcat=&files=&year=&search=keith+ward" target="new">Link to full listing</a>. You may download or stream the video from their web site.</p>

					<h3>Chapman University</h3>
					<p>Has Science Made God Obsolete? The Great Debate</p>

					{% include youtubeplayer.html id='aM2Q5REenmk' %}

					<p>On March 7, 2016, noted British author, theologian and philosopher Keith Ward of Oxford University and scientist and skeptic Michael Shermer debated on the nature of reality, science and religion, and God’s existence. </p>

					<h3>Other</h3>
					<p><strong>Philosophy, Science and The God Debate</strong>, a two-DVD set of filmed interviews with Keith Ward, Alister McGrath and John Lennox, and produced by the Nationwide Christian Trust.</p>
			</section> <!-- end article section -->

				<footer class="article-footer">

				</footer> <!-- end article footer -->



			</article> <!-- end article -->



		</div> <!-- end #main -->

</div> <!-- end #inner-content -->

